* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

.product {
    width: calc(100% / 3 );
    display: inline-block;
}

.product-img img {
    width: 100%;
    display: block;
}

.price {
    font-weight: bold;
    color: red;
}

.original-price {
    text-decoration: line-through;
}