* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

.product {
    width: calc(100% / 3 );
    display: inline-block;
}

.product-img {
    position: relative;
}

.product-img img {
    width: 100%;
    display: block;
}

.product-img .over-img {
	display: none;
}

.product-img:hover .over-img {
	display: block;
}
.product-img:hover .original-img {
	display: none;
}


.price {
    font-weight: bold;
    color: red;
}

.original-price {
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 30px;
    background-color: white;
    padding: 10px;
}

.label {
    position: absolute;
    bottom: 20px;
}

.label span {
    padding: 5px 3px;
    color: white;
}

.discount {
    background-color: red;
}

.sosten {
    background-color: green;
}


